body {
	height: 100%; 
	width: 99%;
	background-color: #CEE3F6;
}

#title-ini{
	background-color: #0B2161;
	border-radius: 10px; 
}

#title-content {
	text-align: center;
	color: #FFFFFF;
}

#form-complete {
	border-radius: 10px; 
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 1px;
	text-align: left;
	background-color: #CEE3F6;

}

.SPARQLtable {
	background-color: #FFFFFF;
}
#left-form {
	width: 44%;
	float: left;
	text-align: justify;
	padding: 10px;
}

#right-form {
	width: 44%;
	float:right;
	text-align: justify;
	padding: 10px;
}