body {
	height: 100%; 
	width: 99%;
	background-color: #CEE3F6;
}

#title-ini{
	background-color: #0B2161;
	border-radius: 10px; 
}

#title-content {
	text-align: center;
	color: #FFFFFF;
}

#form-complete {
	border-radius: 10px; 
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 1px;
	text-align: left;
	background-color: #CEE3F6;

}

.SPARQLtable {
	background-color: #FFFFFF;
}
#left-form {
	width: 44%;
	float: left;
	text-align: justify;
	padding: 10px;
}

#right-form {
	width: 44%;
	float:right;
	text-align: justify;
	padding: 10px;
}

.typeButton {
	font-size: 10pt;
	border-radius: 5px;
	color: #fff;
	background-color: #0B2161;
	padding: 5px;
}

.SPARQLtable table { 
	border-collapse: collapse; 
	text-align: left; 
	width: 100%;
} 
.SPARQLtable { 
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; overflow: hidden; border: 1px solid #006699; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px; 
	border-radius: 3px; 
}
.SPARQLtable table td, .SPARQLtable table th { 
	padding: 3px 10px; 
}
.SPARQLtable table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0B2161), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #0B2161 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; }
.SPARQLtable table tbody td { color: #00496B; border-left: 1px solid #E1EEF4;font-size: 12px;font-weight: normal; }
.SPARQLtable table tbody .alt td { background: #E1EEF4; color: #00496B; }
.SPARQLtable table tbody td:first-child { border-left: none; }
.SPARQLtable table tbody tr:last-child td { border-bottom: none; }

